<div id="indTeam-container" *ngIf="dispTeam">
  <p class="team-name">{{ teamdata[teamdata.length - 1][1] }}'s team</p>
  <button
    id="addPok"
    (click)="addPokemon(teamdata[0])"
    *ngIf="
      teamdata.length - 2 < 6 && teamdata[teamdata.length - 1][1] === createdBy
    "
  >
    Add Pokemon
  </button>
  <button
    id="addPok"
    (click)="deletebtn = true"
    *ngIf="teamdata[teamdata.length - 1][1] === createdBy"
  >
    Edit Pokemons
  </button>
  <div
    id="pokemon-container"
    *ngFor="
      let pokemon of teamdata | slice : 1 : teamdata.length - 1;
      let i = index;
      keyvalue
    "
  >
    <img
      [class]="pokemon[1]['type']"
      id="typeSmall-img"
      [src]="'./assets/' + pokemon[1]['type'] + '.svg'"
      alt=""
    />
    <img
      [src]="
        'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' +
        pokemon[1]['id'] +
        '.png'
      "
      alt=""
      id="pokemon-img"
    />
    <p class="pok-name">{{ pokemon[1]["name"] }}</p>
    <img
      (click)="deletePokemon(teamdata[0], pokemon[0], i)"
      *ngIf="deletebtn"
      id="del-svg"
      src="https://upload.wikimedia.org/wikipedia/commons/0/0f/Icons8_flat_delete_generic.svg"
      alt=""
    />
  </div>
</div>
