#nav-btn-container {
  display: flex;
  justify-content: space-around;
  background-color: #000029;
  width: 102%;
  border-top: 1px solid white;
}
#nav-text {
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.active {
  border-bottom: 1px solid white;
}
@media only screen and (max-width: 375px) {
  #nav-btn-container {
    width: 103%;
    margin-left: -10px;
  }
}
