#nav-btn-container {
  display: flex;
  justify-content: space-around;
  background-color: #000029;
  width: 102%;
  border-top: 1px solid white;
  margin-left: -20px;
}
#nav-text {
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.active {
  border-bottom: 1px solid white;
}
