#general-card-container {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 33% 33% 33%;
  place-items: center;
  row-gap: 20px;
}
#individual-card-container {
  height: 102px;
  width: 326px;
  display: grid;
  grid-template-columns: 60% 40%;
  border-radius: 10px;
}
#image-wrapper {
  background-color: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-left: 3px;
  margin-top: 2px;
  margin-right: 5px;
}
#name {
  color: black;
  font-size: 21px;
  font-weight: bolder;
  position: absolute;
  margin-left: 20px;
  text-transform: capitalize;
}
#type-wrapper {
  display: flex;
  margin-left: 10px;
  margin-top: 65px;
  position: absolute;
  height: 25px;
  column-gap: 10px;
}

#typeSmall-container {
  display: flex;
  padding-right: 10px;
  border-radius: 50px;
}
#type-text {
  text-transform: capitalize;
  font-size: 12px;
  margin-top: 3px;
}
#typeSmall-img {
  margin-top: 2px;
  margin-left: 2px;
  height: 15px;
  width: 15px;
}
#info-container {
  opacity: 0.2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#bg-type-img {
  margin-top: 10px;
  margin-left: 35px;
  height: 80px;
  fill: white;
  background-position: center;
}
#pokemon-img {
  position: absolute;
  height: 90px;
  margin-left: 20px;
}
#individual-container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 250%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.back-arrow {
  height: 50px;
  width: 50px;
  margin-top: 225px;
  margin-left: -300px;
  position: absolute;
  z-index: 3;
}
.moveArrow {
  margin-left: -500px;
}
@media only screen and (max-width: 375px) {
  #general-card-container {
    grid-template-columns: 100%;
  }
}
