#pokemon-container {
  width: 360px;
  position: absolute;
  z-index: 2;
  background-color: white;
  border-radius: 10px;
  margin-top: 200px;
  overflow: hidden;
  margin-left: -185px;
}
#top-photo-container {
  margin-top: -250px;
  margin-left: -100px;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  place-items: center;
}
#top-bg-img {
  height: 204px;
  width: 204px;
  margin-top: 250px;
}
#pokemon-profile {
  object-fit: fill;
  margin-top: 400px;
  margin-left: -175px;
  height: 250px;
  width: 200px;
  transform: scaleX(-1);
}
#name {
  font-weight: bolder;
  font-size: 32px;
  margin-top: 50px;
  text-transform: capitalize;
  margin-left: 20px;
}
#type-wrapper {
  display: flex;
  margin-left: 10px;
  height: 25px;
  column-gap: 10px;
}
#image-wrapper {
  background-color: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-left: 3px;
  margin-top: 2px;
  margin-right: 5px;
}
#typeSmall-container {
  display: flex;
  padding-right: 10px;
  border-radius: 50px;
}
#type-text {
  text-transform: capitalize;
  font-size: 12px;
  margin-top: 3px;
}
#typeSmall-img {
  margin-top: 2px;
  margin-left: 2px;
  height: 15px;
  width: 15px;
}
#info-container {
  margin-left: 20px;
  margin-top: 20px;
}
.sm-text-field {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 5px;
}
.firstrow-info {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% 70%;
}
#weight-svg {
  height: 15px;
  width: 15px;
  margin-top: 11px;
  margin-left: 5px;
}
.big-text-field {
  font-size: 18px;
  height: 33px;
  width: 154px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  text-align: center;
  padding-top: 10px;
  grid-row: 2;
  margin-top: 0px;
  text-transform: capitalize;
}
.flex-div {
  display: flex;
}
#second-row {
  margin-top: -20px;
}
#evolution-container {
  margin-bottom: 20px;
  margin-left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
#evolution-type-img {
  height: 75px;
  width: 75px;
}
#evolution-pokemon-img {
  position: absolute;
  height: 150px;
  width: 150px;
  object-fit: cover;
}
#evolution-name {
  margin-left: 300px;
  position: absolute;
  font-size: 18px;
  text-transform: capitalize;
}
