<div id="moves-container">
  <div
    id="flex-container"
    *ngFor="let move of moves"
    (click)="dispMovesInfo(move)"
  >
    <img src="./assets/5.svg" id="weight-svg" />
    <p id="moves-text">{{ move.move.name }}</p>
  </div>
  <div id="indMoves-container" *ngIf="showIndMoves">
    <img
      src="./assets/close.svg"
      alt=""
      (click)="showIndMoves = false"
      id="close-svg"
    />
    <h2 id="move-name">{{ moveInfo.name }}</h2>
    <p id="lg-text">
      Description:<span>{{ moveInfo.flavor_text_entries[0].flavor_text }}</span>
    </p>
    <p id="lg-text">
      Accuracy:<span>{{ moveInfo.accuracy || "N/A" }}</span>
    </p>
    <p id="lg-text">
      Power:<span>{{ moveInfo.power || "N/A" }}</span>
    </p>
    <p id="lg-text">
      Power Point:<span>{{ moveInfo.pp }}</span>
    </p>
    <p id="lg-text">
      Type:<span>{{ moveInfo.type.name }}</span>
    </p>
  </div>
</div>
