#indTeam-container {
  width: 347px;
  border: 1px solid black;
  border-radius: 10px;
}
#typeSmall-img {
  height: 75px;
  width: 75px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px;
}
#pokemon-container {
  display: flex;
}
#pokemon-img {
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  z-index: 1;
}
#addPok {
  width: 300px;
  height: 48px;
  background-color: #000029;
  color: white;
  border-radius: 24px;
  margin: 20px;
}
.pok-name {
  text-transform: capitalize;
  margin-top: 45px;
}
#del-svg {
  position: absolute;
  height: 50px;
  width: 50px;
  margin-left: 280px;
  margin-top: 30px;
}
.team-name {
  text-transform: capitalize;
  font-size: 20px;
  margin-top: 45px;
  text-align: center;
  font-weight: bold;
}
