<app-upper-bar></app-upper-bar>
<div id="login-container">
  <img src="./assets/Group 28.png" class="side-img" />
  <div id="loginForm-container">
    <form [formGroup]="formGroup">
      <p class="field">Email</p>
      <input
        type="textbox"
        id="email"
        formControlName="email"
        [ngClass]="{
          'has-error': formGroup.controls['email'].invalid && submitted
        }"
      />
      <p class="field">Password</p>
      <input
        type="textbox"
        id="password"
        formControlName="password"
        [ngClass]="{
          'has-error': formGroup.controls['password'].invalid && submitted
        }"
      />
      <button
        value="Log In"
        (click)="login()"
        id="login-btn"
        *ngIf="register == false"
      >
        Log In
      </button>
      <button
        value="Log In"
        (click)="registerUser()"
        id="login-btn"
        *ngIf="register"
      >
        Submit
      </button>
      <button
        value="Log In"
        (click)="register = true"
        id="login-btn"
        *ngIf="register == false"
      >
        Register
      </button>
    </form>
  </div>
  <img src="./assets/Group 41.png" class="side-img" />
</div>
